.gun .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gun{
    margin-top: 136px;
}

.gun__heading{
    color: var(--color-nearblack);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.gun__list1{
    margin-top: 60px;
}

@media only screen and (max-width: 817px){
    .gun .container{
        grid-template-columns: repeat(2, 1fr);
        gap: -100px;
    }

    .gap{
        margin-left: 500px;
    }
}

@media only screen and (max-width: 438px){
    .gun .container{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}