.h3{
    color: #36536B;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.369px;
    width: 445px;
}
.you{
    margin-left: 150px;

    .container{
        display: flex;
        justify-content: space-between;
    }
}

.hero__btn{
    color: #FBFCFE;
    font-family: "Public Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
}

@media only screen and (max-width:768px) {
    .h3 {
        transform: translate(207px ,108px);
    }
    .you__list {
        text-align: center;
        transform: translate(-705px ,192px);
    }
    .you {
        margin-bottom: 202px;
    }
}
@media only screen and (max-width:375px) {
    .you__list {
        text-align: center;
        transform: translate(-269px ,192px);
    }
    .hero__btn2 {
        transform: translate(-447px, 86px);
    }
    .you {
        margin-bottom: 202px;
    }
}